<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" type="text/css"/>
    <title>{% block title %}{%endblock %}</title>
    </head>
    <body>
        <div class="container">
        <!--Row with single column-->
            <div class="row">
              <div class="col-xs-12">
                <div class="demo-content">.col-xs-12</div>
              </div>
            </div>
            <hr>
            <!--Row with single column-->
           <div class="row">
              <div class="col-xs-12">
                  <div class="demo-content bg-alt">.col-xs-12</div>
              </div>
           </div>
       </div>
    <script type="text/javascript" src="static/bootstrap/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
    </body>
</html>


